.button {
  background-color: #971805;
  color: #fbf6ee;
  padding: 0.5rem 1rem;
  border: 3px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.button:focus {
  background-color: #ac1f09;
  border-color: #ffffff;
  box-shadow: 0 0 0 4px #000000;
  outline: none;
}

.button:disabled {
  color: #333;
  background-color: #ffffff;
  border: 3px solid #333;
}
