.pointer_base,
.pointer,
.pointer_small,
.pointer_large {
  pointer-events: none;
  position: fixed;
}

.pointer_base {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pointer {
  width: 40px;
  height: 40px;
  background: rgba(255, 165, 0, 0.75);
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pointer_large {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid rgba(255, 165, 0, 0.75);
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pointer_small {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  background: rgba(255, 218, 185, 0.85);
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
